body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: lightblue;
}

input[type="text"] {
    width: 50%;
    padding: 12px;
    font-size: medium;

}

button {
    height: 40px; /* Match this to the input field's height */
    font-size: 16px;
    padding: 5px 10px; /* Adjust padding for better width */
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    cursor: pointer;
}

.output {
    padding: 50px 50px;
}